
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accentcolor5);
    background-image: var(--bgimage);
    color: var(--accentcolor1);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.8em;
}

*::selection {
    background-color: var(--accentcolor6);
    color: var(--accentcolor4);
}

/* SCROLLBAR */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--accentcolor3) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* STRUCTURE */
.container {
    width: 800px;
    border: 28px solid #fff;
    border-image: url(border.webp) fill 28 round;
    display: grid;
    gap: 8px;
    grid-template-columns: 180px 1fr 180px;
    grid-template-rows: 150px auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "col1 col2 col3"
        "footer footer footer";
}

@media (max-width: 1024px) {
    .container {
        width: calc(100% - 56px);
        grid-template-rows: 150px auto auto 1fr auto;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "col1 col1 col1"
            "col2 col2 col2"
            "col3 col3 col3"
            "footer footer footer";
    }
}


.header, .nav, .col1, .col2, .col3, .footer {
    background-color: var(--accentcolor4);
    border: 1px solid var(--accentcolor3);
}

.center {
    display: flex;
    justify-content: center;
}

/* HEADER */
    
.header {
    grid-area: header;
    display: flex;
    align-items: end;
    justify-content: end;
    background-image: var(--headerimage);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-text {
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 5em;
    margin-bottom: -20px;
    margin-right: 5px;
    color: var(--accentcolor4);
    z-index: 1;
    pointer-events: none;
    text-shadow: 
    -2px -2px 0 var(--accentcolor3), 
     2px -2px 0 var(--accentcolor3),
    -2px 2px 0 var(--accentcolor3), 
     2px 2px 0 var(--accentcolor3);
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    font-family: "Micro 5", sans-serif;
    font-size: 1.5em;
}

/* COL 1 */

.col1 {
    grid-area: col1;
    padding: 10px;
}

.col1 ul {
    padding: 0;
    list-style: none;
    display: inline;
}

.col1 li:before {
    content: "⨉ ";
}

@media (max-width: 1024px) {
    .col1 {
        max-height: 200px;
        overflow: auto;
    }

    .col1 ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* COL 2 */

.col2 {
    grid-area: col2;
    padding: 10px;
}

/* COL 3 */

.col3 {
    grid-area: col3;
    padding: 10px;
}

/* FOOTER */

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.credit {
    font-family: "Micro 5", sans-serif;
    font-size: 1em;
}

/* TEXT */
.title {
    padding: 2px;
    text-align: center;
    color: var(--accentcolor5);
    background-color: var(--accentcolor3);
    font-family: "Micro 5", sans-serif;
    font-size: 1.5em;
}

.title:not(:first-child) {
    margin-top: 10px;
}

a {
    color: var(--accentcolor2);
    text-decoration: underline dotted;
}

a:hover {
    color: var(--accentcolor3);
}

h1, h2, h3 {
    margin: 0;
    font-family: "Jacquarda Bastarda 9", serif;
}

b, strong {
    color: var(--accentcolor6);
}

i, em {
    color: var(--accentcolor6);
}

pre {
    border: 1px solid var(--accentcolor1);
}

blockquote {
    margin: 0;
    border-left: 3px solid var(--accentcolor6);
    padding-left: 15px;
}

.scrollbox {
    background-color: var(--accentcolor4);
    border: 1px solid var(--accentcolor3);
    color: var(--accentcolor3);
    padding: 10px;
    height: 100px;
    overflow-y: auto;
}

/* CALENDAR */
#widget-calendar table {
    border: 1px solid var(--accentcolor3);
    font-size: 0.9em;
}

#widget-calendar td {
    padding: 0 0.1rem;
    border: 1px solid var(--accentcolor3);;
}

#widget-calendar .month {
    font-weight: bold;
    color: var(--accentcolor3);;
    text-align: center;
    font-size: 1em;
}

#widget-calendar .days {
    font-weight: bold;
}

#widget-calendar .today {
    font-weight: bold;
    color: var(--accentcolor6);
    text-decoration: underline;
    text-decoration-style: dotted;
}