body {
    background-color: var(--bgcolor);
    font-family: Atkinsons, sans-serif;
    color: var(--textcolor);
    font-size: 15px;
    background-image: var(--bgimage);
}

* { margin:0; padding:0; }

/* SCROLLBAR */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--text-color) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* STRUCTURE */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex {
    flex: 1;
}

.header {
    width: 600px;
    border-bottom: 5px solid var(--accentcolor2);
    margin-bottom: 20px;
}

.content {
    width: 600px;
    height: 300px;
    overflow: auto;
}

.footer {
    margin-top: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid var(--accentcolor2);
}

.scroll {
    height: 300px;
    overflow: auto;
}

.mobile-hide {
    display: block;
}

@media (max-width: 1024px) {

    .header, .content, .footer {
        width: 90%;
    }

    .content {
        flex: 1;
    }

    .mobile-hide {
        display: none;
    }

    .scroll{
        height: 100%;
    }

    .row {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}

/* NAVIGATION */
.nav {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.nav a {
    color: var(--textcolor);
    text-decoration: none;
    padding: 5px;
    border: 1px solid var(--textcolor);
    font-size: .8em;
    line-height: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav a:hover {
    color: var(--accentcolor2);
    border-color: var(--accentcolor2);
}

.tab.active {
    color: var(--accentcolor2);
    border-color: var(--accentcolor2);
}

/* TEXT */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    color: var(--accentcolor2);
    margin: 0;
    padding: 0;
    font-weight: bolder;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 5px;
}

h1:after {
    content: ".";
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: var(--accentcolor2);
    margin: 0;
    padding: 0;
    font-weight: bolder;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 5px;
    text-align: right;
}

p:not(:last-child) {
    margin-bottom: 10px;
}

a {
    color: var(--accentcolor2);
}

a:hover {
    color: var(--accentcolor3);
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

/* PARAGRAPHS */
.center {
    text-align: center;
}

.credits {
    font-style: italic;
    font-size: .8em;
}

/* TOP */
.quote {
    font-style: italic;
    letter-spacing: 2px;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cover {
    margin-bottom: 20px;
    max-width: 100%;
}

/* ABOUT */

.items {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.items hr {
    width: 200px;
}

.item {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.item span {
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .about-pic {
        min-width: 100%;
        height: 100px;
        object-fit: cover;
    }
}
/* PERSONALITY */

.slideritems {
    margin: 0;
    padding: 0;
}

.sliders ul {
    margin-left: 0;
}

.sliders li {
    margin-bottom: 0;
}

.slider {
    list-style: none;
    flex: 0 0 100%;
    padding: 4px;
    box-sizing: border-box;
}

.slidertext {
    display: flex;
    justify-content: space-between;
}

.progressbar {
    background-color: var(--accentcolor4);
    height: 10px;
    margin-top: 5px;
    overflow-x: hidden;
    border: none;
}

.progresschunk {
    display: flex;
    justify-content: flex-end;
    background-color: var(--accentcolor4);
    height: 10px;
}

.progressbutton {
    background-color: var(--accentcolor2);
    border-left: 2px solid var(--accentcolor4);
    border-right: 2px solid var(--accentcolor4);
    width: 10px;
    height: 10px;
}

@media (max-width: 1024px) {
    .sliders {
        min-width: 100%;
    }
}

/* PANEL DISPLAY */
.panel {
    display: none;
}

.panel.show {
    display: block;
}